<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharePointMOSSUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="GetSubWebSizes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <SharePointMOSSUtility.Properties.Settings>
            <setting name="GetSubWebSizes_WSSLists_Lists" serializeAs="String">
                <value>http://togethernet2/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSSites_Sites" serializeAs="String">
                <value>http://togethernet/_vti_bin/Sites.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSSiteData_SiteData" serializeAs="String">
                <value>http://togethernet/_vti_bin/SiteData.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSWebs_Webs" serializeAs="String">
                <value>http://togethernet/_vti_bin/Webs.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSVersions_Versions" serializeAs="String">
                <value>http://togethernet2/_vti_bin/Versions.asmx</value>
            </setting>
            <setting name="SharePointMOSSUtility_WSSUSerGroup_UserGroup"
                serializeAs="String">
                <value>http://togethernet2/_vti_bin/usergroup.asmx</value>
            </setting>
        </SharePointMOSSUtility.Properties.Settings>
        <GetSubWebSizes.Properties.Settings>
            <setting name="GetSubWebSizes_WSSLists_Lists" serializeAs="String">
                <value>http://togethernet2/_vti_bin/Lists.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSSites_Sites" serializeAs="String">
                <value>http://togethernet/_vti_bin/Sites.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSSiteData_SiteData" serializeAs="String">
                <value>http://togethernet/_vti_bin/SiteData.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSWebs_Webs" serializeAs="String">
                <value>http://togethernet/_vti_bin/Webs.asmx</value>
            </setting>
            <setting name="GetSubWebSizes_WSSVersions_Versions" serializeAs="String">
                <value>http://togethernet2/_vti_bin/Versions.asmx</value>
            </setting>
        </GetSubWebSizes.Properties.Settings>
    </applicationSettings>
</configuration>